@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family:
      Inter,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      'Helvetica Neue',
      Arial,
      sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    margin: 0;
    min-width: 320px;
    background-color: #f4f6f9;
    color: #2d3436;
  }

  #app {
    min-height: 100vh;
  }
}
